.btn {
  @include primaryFont(18);
  background: $accent;
  color: $white-shade;
  border: 1px solid rgba(0, 0, 0, 0.2);
  &--general {
    // background: linear-gradient(#13547a 0%, #186d9e 100%);
    color: white;
    padding: 5px 20px;
    &:disabled {
      background: lightgray;
    }
  }
  &--remove {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 0;
  }
  &--add {
    width: 100%;
    border-top: none;
  }
  &--login{
    margin-top: 20px;
  }
}