.homePage {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(16, 66, 95, 0.7)),
              url("../assets/samuel-zeller-118195-unsplash.jpg") center;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form--login {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 90%;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  input {
    margin-bottom: 20px;
  }
}

