.posContainer {
  display: flex;
}

.products {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  height: 80vh;
  overflow: scroll;
  margin: 20px 0;
  /* align-content: space-evenly; */
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 50%;
}

.product p {
  margin: 0;
}

.productImage {
  height: 50%;
  object-fit: contain;
}